<%- if collections.blank?%>
<p>No collections to show.</p>
<%- else%>
  <table>
    <tr>
      <th>Collection name</th>
      <th>Sub categories</th>
      <th>Products</th>
      <th>Active?</th>
      <th>Re-order</th>
      <th>Delete</th>
    </tr>
  <%- collections.each_with_index do |cl, index|%>

    <tr>

      <td>
        <p><%= link_to cl.name, admin_edit_collection_path(:id => cl), :title=>"Edit #{cl.name}"%> </p>
      </td>
      <td>
        <p><%= cl.children.length%> </p>
      </td>
      <td>
        <p><%= cl.products.length%> </p>
      </td>
      <td>
        <p><%= cl.show_on_site ? "Yes" :"No"%> </p>
      </td>
      <td>
        <p><%= cl.nav_order >1 ? link_to("Down", "/collection/order/#{cl.id}/0") : link_to("Up", "/collection/order/#{cl.id}/1")%> </p>
      </td>
      <td>
        <%= link_to "Delete collection", "/admin/delete_collection/#{cl.id}", :title=>"Delete collection", :confirm=>"Are you sure you want to delete this collection - all children will be lost!" %>
      </td>

  </tr>

  <%- end%>
  </table>
<%- end%>