<ul>
        <li>
          <%= link_to "Collections", admin_overview_path, :title=>"Manage Collections" %>
        </li>
	<li>
          <%= link_to "products", admin_products_path, :title=>"Manage productss"%>
        </li>
        <li>
          <%= link_to "Home Banners", admin_banner_path, :title=>"Home Banners"%>
        </li>
        <li>
          <%= link_to "Enquiries", admin_enquiries_path, :title=>"View Enquires"%>
        </li>
        <li>
          <%= link_to "Logout", admin_logout_path, :title=>"logout"%>
        </li>
</ul>