<h2><%= @collection.name.upcase %></h2>

  <p>
  <h5><%=@collection.description%></h5>

  <h5>Below are some of our <%= @collection.display_name %>.</h5>
  </p>

  <hr />

  <%- if products.blank? %>
    <p>We are sorry, there are currently no <%= @collection.name.pluralize %> available at present.</p>
  <%- else %>


    <table>
          <%- products.each_with_index do |prod, index|%>

          <%-if (index % 3) == 0 %>
			<tr>
		  <%- end %>

            <td>
              <%- fp = prod%>
              <%- if not show_products%>
                <%- pr = fp.products.first%>
                <%- if not pr.blank?%>
                  <% fp = pr %>
                <%- end%>
              <%- end%>
              <%-unless fp.class.name=="Collection"%>
                <%= link_to image_tag(fp.image.url(:small)), show_products ? "/site/gallery_item/#{prod.id}" : "/site/gallery/#{prod.id}", :title=>"#{prod.name}. Description: #{prod.description}"%>
             <%- end%>
                
              <p><a title="<%=prod.description %>">More: <%=link_to prod.name,show_products ? "/site/gallery_item/#{prod.id}" : "/site/gallery/#{prod.id}" %></a> </p>
            </td>

          <%- if (index % 3) == 2  or index == products.length %>
			</tr>
		  <%- end %>

        <%- end%>
    </table>
 <%- end%>