<ul>
   	<li class=<%=selected_top_navigation(@active_path, "index")%>>
          <%= link_to "Home", root_path, :title=>"Home"%>
        </li>
        <li class=<%=selected_top_navigation(@active_path, "collection")%>>
          <%= link_to "Collections", gallery_path, :title=>"Our collections"%>
        </li>
	<li class=<%=selected_top_navigation(@active_path, "advice")%>>
          <%= link_to "Advice", advice_path, :title=>"Advice"%>
        </li>
	<li class=<%=selected_top_navigation(@active_path, "contact")%>>
          <%= link_to "Contact", contact_path, :title=>"Contact"%>
        </li>
</ul>
