<%- content_for :main_canvas do %>

  <h2>Welcome Mark</h2>

    <p>
      <h5>Here is your files for download. 1 file and 4 zip files containing more songs, enjoy :)</h5>
    </p>

    <ul>
    <li><%= link_to "Zip 1", "https://s3.amazonaws.com/mark_downloads/Beady+Eye+-+Different+Gear%2C+Still+Speeding.zip" %> </li>
    <li><%= link_to "Zip 2", "https://s3.amazonaws.com/mark_downloads/Beady+Eye+-+Different+Gear%2C+Still+Speeding2.zip" %> </li>
    <li><%= link_to "Zip 3", "https://s3.amazonaws.com/mark_downloads/Beady+Eye+-+Different+Gear%2C+Still+Speeding+3.zip" %> </li>
    <li><%= link_to "Zip 4", "https://s3.amazonaws.com/mark_downloads/Beady+Eye+-+Different+Gear%2C+Still+Speeding+1.zip" %> </li>
    <li><%= link_to "Four letter word (right click and save link as!)", "https://s3.amazonaws.com/mark_downloads/01+Beady+Eye+-+Four+Letter+Word.mp3" %> </li>
    </ul>
<%end%>